@import './scss-variables.scss';

html,
body,
#root {
    height: 100%;
}

.app {
    height: 100%;
}

.site-main-body-wrapper {
    background-image: url("../images/background.jpg");
    height: 100%;
    width: 100%;
}

.bulletin-wrapper {
    position: absolute;
    top: 150px;
    left: 300px;
    height: 750px;
    width: 1250px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgb(136, 136, 136) 0px 0px 6px;
    padding: 0px;
}

.top-bar {
    display: block;
    // float: right;
    height: 40px;
    background-color: rgba(200, 200, 200, 0.2);
}

.btn-bar {
    text-align: right;
    padding-top: 3px;
}

.carousel {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    padding-top: 0px;
    // height: 600px;
}

.tab-bar {
    margin-top: 0px
}