.editor-paper {
    box-shadow: none !important;
    max-width: 950px;
}

.bulletin-title-box {
    width: 98%;
    margin: 10px !important;
}

.wrapperClassName { 
    border-top: 1px solid rgba(0,0,0,0.25) !important;
}